In [1]:
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd

In [72]:
df=pd.read_csv('Documents/YH_python/data/Student-Employability-Datasets.csv')

In [54]:
df

,Name of Student,GENERAL APPEARANCE,MANNER OF SPEAKING,PHYSICAL CONDITION,MENTAL ALERTNESS,SELF-CONFIDENCE,ABILITY TO PRESENT IDEAS,COMMUNICATION SKILLS,Student Performance Rating,CLASS
0,Student 1,4,5,4,5,5,5,5,5,Employable
1,Student 2,4,4,4,4,4,4,3,5,Employable
2,Student 3,4,3,3,3,3,3,2,5,LessEmployable
3,Student 4,3,3,3,2,3,3,3,5,LessEmployable
4,Student 5,4,4,3,3,4,4,3,5,Employable
...,...,...,...,...,...,...,...,...,...,...
2977,Student 2996,4,3,3,3,3,3,2,5,Employable
2978,Student 2997,3,4,4,4,4,4,4,5,Employable
2979,Student 2998,4,5,4,5,4,4,4,5,Employable
2980,Student 2999,4,4,4,3,4,4,3,5,LessEmployable
2981,Student 3000,4,4,4,4,3,4,4,5,Employable

In [73]:
df=df.drop('Name of Student',axis=1)

In [58]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2982 entries, 0 to 2981
Data columns (total 9 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   GENERAL APPEARANCE          2982 non-null   int64
 1   MANNER OF SPEAKING          2982 non-null   int64
 2   PHYSICAL CONDITION          2982 non-null   int64
 3   MENTAL ALERTNESS            2982 non-null   int64
 4   SELF-CONFIDENCE             2982 non-null   int64
 5   ABILITY TO PRESENT IDEAS    2982 non-null   int64
 6   COMMUNICATION SKILLS        2982 non-null   int64
 7   Student Performance Rating  2982 non-null   int64
 8   CLASS                       2982 non-null   object
dtypes: int64(8), object(1)
memory usage: 209.8+ KB

In [59]:
df.describe()

,GENERAL APPEARANCE,MANNER OF SPEAKING,PHYSICAL CONDITION,MENTAL ALERTNESS,SELF-CONFIDENCE,ABILITY TO PRESENT IDEAS,COMMUNICATION SKILLS,Student Performance Rating
count,2982.000000,2982.000000,2982.000000,2982.000000,2982.000000,2982.000000,2982.000000,2982.000000
mean,4.246814,3.884641,3.972166,3.962777,3.910798,3.813883,3.525486,4.610664
std,0.678501,0.757013,0.744135,0.781982,0.807602,0.739390,0.743881,0.692845
min,2.000000,2.000000,2.000000,2.000000,2.000000,2.000000,2.000000,3.000000
25%,4.000000,3.000000,3.000000,3.000000,3.000000,3.000000,3.000000,4.000000
50%,4.000000,4.000000,4.000000,4.000000,4.000000,4.000000,3.000000,5.000000
75%,5.000000,4.000000,5.000000,5.000000,5.000000,4.000000,4.000000,5.000000
max,5.000000,5.000000,5.000000,5.000000,5.000000,5.000000,5.000000,5.000000

,GENERAL APPEARANCE,MANNER OF SPEAKING,PHYSICAL CONDITION,MENTAL ALERTNESS,SELF-CONFIDENCE,ABILITY TO PRESENT IDEAS,COMMUNICATION SKILLS,Student Performance Rating,CLASS
0,4,5,4,5,5,5,5,5,1
1,4,4,4,4,4,4,3,5,1
2,4,3,3,3,3,3,2,5,0
3,3,3,3,2,3,3,3,5,0
4,4,4,3,3,4,4,3,5,1
...,...,...,...,...,...,...,...,...,...
2977,4,3,3,3,3,3,2,5,1
2978,3,4,4,4,4,4,4,5,1
2979,4,5,4,5,4,4,4,5,1
2980,4,4,4,3,4,4,3,5,0
2981,4,4,4,4,3,4,4,5,1

ValueError: The truth value of a Series is ambiguous. Use a.empty, a.bool(), a.item(), a.any() or a.all().

In [74]:
df = df.replace('LessEmployable', 0)

In [75]:
df = df.replace('Employable', 1)

In [76]:
df

,GENERAL APPEARANCE,MANNER OF SPEAKING,PHYSICAL CONDITION,MENTAL ALERTNESS,SELF-CONFIDENCE,ABILITY TO PRESENT IDEAS,COMMUNICATION SKILLS,Student Performance Rating,CLASS
0,4,5,4,5,5,5,5,5,1
1,4,4,4,4,4,4,3,5,1
2,4,3,3,3,3,3,2,5,0
3,3,3,3,2,3,3,3,5,0
4,4,4,3,3,4,4,3,5,1
...,...,...,...,...,...,...,...,...,...
2977,4,3,3,3,3,3,2,5,1
2978,3,4,4,4,4,4,4,5,1
2979,4,5,4,5,4,4,4,5,1
2980,4,4,4,3,4,4,3,5,0
2981,4,4,4,4,3,4,4,5,1

In [77]:
df.groupby('CLASS')['GENERAL APPEARANCE'].value_counts()

CLASS  GENERAL APPEARANCE
0      4                     718
       5                     372
       3                     147
       2                      16
1      4                     758
       5                     757
       3                     214
Name: GENERAL APPEARANCE, dtype: int64

In [81]:
X = df.iloc[:,:-1]

In [82]:
X

,GENERAL APPEARANCE,MANNER OF SPEAKING,PHYSICAL CONDITION,MENTAL ALERTNESS,SELF-CONFIDENCE,ABILITY TO PRESENT IDEAS,COMMUNICATION SKILLS,Student Performance Rating
0,4,5,4,5,5,5,5,5
1,4,4,4,4,4,4,3,5
2,4,3,3,3,3,3,2,5
3,3,3,3,2,3,3,3,5
4,4,4,3,3,4,4,3,5
...,...,...,...,...,...,...,...,...
2977,4,3,3,3,3,3,2,5
2978,3,4,4,4,4,4,4,5
2979,4,5,4,5,4,4,4,5
2980,4,4,4,3,4,4,3,5
2981,4,4,4,4,3,4,4,5

In [83]:
y = df['CLASS']

In [84]:
y

0       1
1       1
2       0
3       0
4       1
       ..
2977    1
2978    1
2979    1
2980    0
2981    1
Name: CLASS, Length: 2982, dtype: int64

In [88]:
# 피쳐스케일링
from sklearn.preprocessing import MinMaxScaler
scaler_X = MinMaxScaler()
X=scaler_X.fit_transform(X)

In [86]:
# training / test 셋으로 분리
from sklearn.model_selection import train_test_split
X_train,X_test,y_train,y_test=train_test_split(X,y,test_size=0.2,random_state=1)

In [87]:
# 모델링
from sklearn.ensemble import RandomForestClassifier
classifier=RandomForestClassifier(n_estimators=100)
classifier.fit(X_train,y_train)

RandomForestClassifier()

In [90]:
from sklearn.metrics import confusion_matrix,accuracy_score
cm=confusion_matrix(y_test,y_pred)

In [92]:
cm

array([[210,  38],
       [ 21, 328]], dtype=int64)

In [91]:
accuracy_score(y_test,y_pred)

0.9011725293132329

In [93]:
classifier

RandomForestClassifier()

In [94]:
scaler_X

MinMaxScaler()

In [95]:
import joblib

In [96]:
joblib.dump(classifier,'classifier.pkl')

['classifier.pkl']

In [97]:
joblib.dump(scaler_X,'scaler_X.pkl')

['scaler_X.pkl']

In [100]:
new_data = np.array([3,3,4,5,4,5,4,5]).reshape(1,8)

In [101]:
new_data = scaler_X.transform(new_data)

In [106]:
classifier.predict(new_data) == 1

array([ True])